/* Nav */

.sPF9B2SD15 {
  border-radius: 4px;
  border: none;
}

.sPF9B2SD15:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.FO4mElxbi0 {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  color: var(--text-color-2);
}

.FO4mElxbi0.hide {
  transform: translateY(calc(-100% + 15px));
}

.FO4mElxbi0.hide:hover {
  transform: translateY(0%);
}

.iGeeEa3h6v {
  color: var(--text-comp-color-2);
  background-color: var(--bg-comp-color-4);
  border: none;
}

.HPNXA06qJ7 {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.XmX5263cNA {
  border-radius: 20px;
  width: 50%;
  width: 300px;
}

.XmX5263cNA:hover {
  transform: translateY(-4px);
}

.MiEWhFVt9T {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 349px) {
  .xEbmIF5vqf :nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 399px) {
  .xEbmIF5vqf :nth-child(2) {
    display: none;
  }
}
@media only screen and (max-width: 499px) {
  .xEbmIF5vqf .first {
    display: none;
  }
}

/*  */

.Edv8pGdED0 {
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Edv8pGdED0:hover,
.Edv8pGdED0.selected {
  background-color: var(--base-comp-004);
}

/*  */

.cNoBDHSUSz {
  display: flex;
  flex-direction: column;
}

.cNoBDHSUSz .label-container {
  transform: translateY(50%);
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.cNoBDHSUSz:focus-within .label-container,
.cNoBDHSUSz.filled .label-container {
  transform: translateY(0%);
}

.cNoBDHSUSz .label-container .label {
  transform-origin: 0% 0%;
  display: block;
}

.cNoBDHSUSz:focus-within .label-container .label,
.cNoBDHSUSz.filled .label-container .label {
  transform: scale(0.8);
}

.cNoBDHSUSz input,
.cNoBDHSUSz textarea {
  color: var(--text-color-2);
}

/*  */

.CgaRRAc6to {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.oq0sHQbGE1.svg svg {
  max-height: 200px;
}

@media only screen and (min-width: 600px) {
  .CgaRRAc6to {
    flex-direction: row;
  }
  .oq0sHQbGE1 {
    width: 50%;
  }
  .CgaRRAc6to.reverse {
    flex-direction: row-reverse;
  }
}

.ILadfB9CNM {
  width: 100%;
  text-align: center;
}
.E9aLNbU5Gm {
  display: none;
  transform: translateX(-50%);
  height: 100%;
}
.WfvBsQnlrQ {
  transform: rotateY(180deg) translateX(0%);
  height: 100%;
}

.Zzjc6ji3p4 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 300px;
}

@media only screen and (min-width: 600px) {
  .E9aLNbU5Gm {
    display: none;
  }
  .WfvBsQnlrQ {
    transform: rotateY(180deg) translateX(-50%) !important;
  }
  .ILadfB9CNM {
    width: 70%;
    text-align: left;
  }
}

@media only screen and (min-width: 1000px) {
  .E9aLNbU5Gm {
    display: block;
  }
  .ILadfB9CNM {
    width: 100%;
    text-align: center;
  }
}

.zfURiv2hFW {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 230px 1fr;
  margin: auto;
}

@media only screen and (max-width: 599px) {
  .zfURiv2hFW {
    grid-template-columns: 100vw 100vw;
  }
  .zfURiv2hFW .VF7wvnxFpr {
    width: 100% !important;
  }
  .jdpGeNx7Ai {
    transform: translateX(-100vw);
  }
}
